debug*
checkpoints/
datasets/
custom_results/
results/
models/debug/*
models/flownet2*/networks/*/*egg-info
models/flownet2*/networks/*/build
models/flownet2*/networks/*/__pycache__
models/flownet2*/networks/*/dist
build/
*/Thumbs.db
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
FlowNet2_checkpoint.pth.tar
